#box1{
    width:400;
    height:450px;
    background-color:rgb(20, 43, 62);
    }

 p{
    text-align: justify;
    color:white;
    }
    p{
        color:white;
    }
#movement{
    color:white;
}
h{
    color:white;
}